main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    h1 {
        font-size: 5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    a {
        text-decoration: none;
        cursor: pointer;
    }

    .settings-description {
        font-size: 1.6rem;
        color: #fff;
        text-align: center;
    }

    .time {
        font-family: monospace;
        font-size: 10rem;
        font-weight: 700;
    }

    .tools {
        font-size: 1.6rem;

        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 1.6rem;
        flex-wrap: wrap;

        .timer {
            text-decoration: underline dotted;
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        h1 {
            font-size: 4rem;
        }

        .time {
            font-size: 7rem;
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        h1 {
            font-size: 3rem;
        }

        .time {
            font-size: 5rem;
        }
    }
}

@media screen and (max-width: 480px) {
    main {
        h1 {
            font-size: 2rem;
        }

        .time {
            font-size: 3rem;
        }
    }
}

.burning {
    display: none;
    width: 100vw;
    pointer-events: none;

    img {
        width: 100%;
        height: auto;
        position: fixed;
        bottom: 0;
        left: 0;
    }
}

.warning {
    color: white;
    background-color: orange;

    a {
        color: white;
    }
}

.danger {
    color: white;
    background-color: red;

    a {
        color: white;
    }

    .burning {
        display: block;
    }
}

.alert {
    color: white;
    animation: alertAnimation 0.5s infinite;

    a {
        color: white;
    }

    .burning {
        display: block;
    }
}

@keyframes alertAnimation {
    0% {
        background-color: black;
    }

    50% {
        background-color: red;
    }
}

.expired {
    color: black;
    background-color: #fff;

    a {
        color: black;
    }
}

.default {
    color: white;
    background-color: black;

    a {
        color: white;
    }
}